@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    1869, Das Carmelitas<br />
    Curitiba;PR<br />
    <abbr title="Phone">P:</abbr>
    41-99607-7315
</address>

<address>
    <strong>Support:</strong> <a href="mailto:joaopaulo.m@terra.com.br">joaopaulo.m@terra.com.br</a><br />
</address>
